
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ key }}</title>
</head>

<body>
  <div>
    {{ key }}
  </div>
  <div>
    <!-- <a  target="_blank" href="https://bokeh.pydata.org/en/latest/docs/user_guide/server.html#embedding-bokeh-server-as-a-library">Embedding Bokeh Server as a Library</a>
    in the User's Guide. -->
    <!-- <img src="/static/database/subsample/thumb/00000013_005.png"> -->
    <img src={{ img_path }}>
  </div>
  <!-- {{ script|safe }} -->
</body>
</html>
